{%- extends 'layout.html' -%}
{%- block script -%}
  <link rel="stylesheet" href="{{ url_for('static', filename = 'styles/admin.css') }}" />
  <script src="{{ url_for('static', filename = 'scripts/admin.js') }}"></script>
{%- endblock -%}

{%- block content -%}
  <div id="mySidenav" class="sidenav mb-5">
    <a class="closebtn" id="closeNav"><i class="fa-solid fa-chevron-left"></i></a>
    <div id="api-status" class="tab px-2 mt-1 mb-5">
        <div id="profile">
        </div>
    </div>
  </div>

  <div id="main">
    <span style="font-size:30px; cursor:pointer" id="openNav" class="sticky"><i class="fa-solid fa-chevron-right fa-sm"></i></span>
    <div id="loader" class="spinner-box">
      <div class="circle-border">
        <div class="circle-core"></div>
      </div>
    </div>
    <section id="dashboard" class="">
    </section>
  </div>

{%- endblock -%}
