{% extends 'layout.html' %}
{% block script %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'styles/create.css') }}" />
{% endblock script %}
{% block content %}
<div class="main">
    <section class="survey-section">
        <div class="survey">
            <h1>Survey Details</h1>
            <div class="form-group">
                <input type="text" placeholder="Title" class="form-control title">
            </div>
            <div class="form-group">
                <textarea placeholder="Description" class="form-control description" rows="4"></textarea>
            </div>
            <div class="form-group">
                <input type="text" placeholder="Expiration date" class="form-control expiration">
            </div>
            <div class="input-container">
                <div class="add-remove">
                    <input type="text" placeholder="Add Question" class="form-control add">
                    <button class="btn btn-primary">+</button>
                </div>
                <div class="input-group">
                    <input class="form-control form-control-lg" id="password" name="password" placeholder="Password" required type="password" value="">
                    <div class="input-group-append parent btn-3d">
                      <span id="toggle-login-password" class="input-group-text glow-border"><i class="fas fa-eye" id="now"></i></span>
                    </div>
                  </div>
                <div class="add-remove">
                    <input type="text" placeholder="Remove Question" class="form-control remove">
                </div>
            </div>
            <div class="checkbox-container">
                <input type="checkbox" class="form-check-input checkbox">
                <label class="form-check-label">Randomize Questions</label>
            </div>
            <button class="btn btn-success save">Save</button>
        </div>
    </section>
    <section class="question-section">
            <div class="top-section">
                <div class="heading">
                    <h1>Question</h1>
                </div>
                <div class="input-group space">
                    <textarea class="form-control questionTextarea" rows="5" placeholder="Type Question"></textarea>
                    <div class="input-group-append btn-outline-success parent">
                        <select class='form-control  questiontype-dropdown' name="questiontype" id="questiontype">
                            <option value="" disabled>Question Type</option>
                            <option value="multiple" selected>Multiple Type</option>
                            <option value="userdefined">User defined</option>
                        </select>
                    </div>                    
                  </div>
            </div>

            <div class="bottom-section space">
                <div class="heading">
                    <h1>Options</h1>
                </div>
                <div class="input-group space" id="option-gen">
                    <div class="choices">
                        <div class="form-group">
                            <input type="text" placeholder="Option 1" class="form-control option">
                        </div>
                        <div class="form-group">
                            <input type="text" placeholder="Option 2" class="form-control option">
                        </div>
                        <div class="form-group">
                            <input type="text" placeholder="Option 3" class="form-control option">
                        </div>
                        
                    </div>
                    <div class="input-group-append btn-outline-success parent">
                        <button class="btn btn-outline-success add-btn">+</button>
                        <br /><button class="btn btn-outline-danger remove-btn">-</button>
                        
                        <select class="form-control optiontype" name="optiontype" id="optiontype">
                            <option value="" disabled selected>Option Type</option>
                            <option value="A">A, B, C, ...</option>
                            <option value="a">a, b, c, ...</option>
                            <option value="1">1, 2, 3, ...</option>
                            <option value="i">i, ii, iii, ...</option>
                            <option value="...">..., ...</option>
                        </select>
                    </div>
                    
                    <div class="checkbox-container">
                        <input type="checkbox" class="form-check-input checkbox">
                        <label class="form-check-label">Randomize Options</label>
                    </div>
                
                  </div>
                
                <div class="option-type">
                    
                </div>
            </div>
            <div class="top-section">
                <div class="heading">
                    <h1>Question</h1>
                </div>
                <div class="input-group space">
                    <textarea class="form-control questionTextarea" rows="5" placeholder="Type Question"></textarea>
                    <div class="input-group-append btn-outline-success parent">
                        <select class='form-control  questiontype-dropdown' name="questiontype" id="questiontype">
                            <option value="" disabled>Question Type</option>
                            <option value="multiple" selected>Multiple Type</option>
                            <option value="userdefined">User defined</option>
                        </select>
                    </div>                    
                  </div>
            </div>

            <div class="bottom-section space">
                <div class="heading">
                    <h1>Options</h1>
                </div>
                <div class="input-group space" id="option-gen">
                    <div class="choices">
                        <div class="form-group">
                            <input type="text" placeholder="Option 1" class="form-control option">
                        </div>
                        <div class="form-group">
                            <input type="text" placeholder="Option 2" class="form-control option">
                        </div>
                        <div class="form-group">
                            <input type="text" placeholder="Option 3" class="form-control option">
                        </div>
                        
                    </div>
                    <div class="input-group-append btn-outline-success parent">
                        <button class="btn btn-outline-success add-btn">+</button>
                        <br /><button class="btn btn-outline-danger remove-btn">-</button>
                        
                        <select class="form-control optiontype" name="optiontype" id="optiontype">
                            <option value="" disabled selected>Option Type</option>
                            <option value="A">A, B, C, ...</option>
                            <option value="a">a, b, c, ...</option>
                            <option value="1">1, 2, 3, ...</option>
                            <option value="i">i, ii, iii, ...</option>
                            <option value="...">..., ...</option>
                        </select>
                    </div>
                    
                    <div class="checkbox-container">
                        <input type="checkbox" class="form-check-input checkbox">
                        <label class="form-check-label">Randomize Options</label>
                    </div>
                
                  </div>
                
                <div class="option-type">
                    
                </div>
            </div>
            <div class="top-section">
                <div class="heading">
                    <h1>Question</h1>
                </div>
                <div class="input-group space">
                    <textarea class="form-control questionTextarea" rows="5" placeholder="Type Question"></textarea>
                    <div class="input-group-append btn-outline-success parent">
                        <select class='form-control  questiontype-dropdown' name="questiontype" id="questiontype">
                            <option value="" disabled>Question Type</option>
                            <option value="multiple" selected>Multiple Type</option>
                            <option value="userdefined">User defined</option>
                        </select>
                    </div>                    
                  </div>
            </div>

            <div class="bottom-section space">
                <div class="heading">
                    <h1>Options</h1>
                </div>
                <div class="input-group space" id="option-gen">
                    <div class="choices">
                        <div class="form-group">
                            <input type="text" placeholder="Option 1" class="form-control option">
                        </div>
                        <div class="form-group">
                            <input type="text" placeholder="Option 2" class="form-control option">
                        </div>
                        <div class="form-group">
                            <input type="text" placeholder="Option 3" class="form-control option">
                        </div>
                        
                    </div>
                    <div class="input-group-append btn-outline-success parent">
                        <button class="btn btn-outline-success add-btn">+</button>
                        <br /><button class="btn btn-outline-danger remove-btn">-</button>
                        
                        <select class="form-control optiontype" name="optiontype" id="optiontype">
                            <option value="" disabled selected>Option Type</option>
                            <option value="A">A, B, C, ...</option>
                            <option value="a">a, b, c, ...</option>
                            <option value="1">1, 2, 3, ...</option>
                            <option value="i">i, ii, iii, ...</option>
                            <option value="...">..., ...</option>
                        </select>
                    </div>
                    
                    <div class="checkbox-container">
                        <input type="checkbox" class="form-check-input checkbox">
                        <label class="form-check-label">Randomize Options</label>
                    </div>
                
                  </div>
                
                <div class="option-type">
                    
                </div>
            </div>
            <div class="top-section">
                <div class="heading">
                    <h1>Question</h1>
                </div>
                <div class="input-group space">
                    <textarea class="form-control questionTextarea" rows="5" placeholder="Type Question"></textarea>
                    <div class="input-group-append btn-outline-success parent">
                        <select class='form-control  questiontype-dropdown' name="questiontype" id="questiontype">
                            <option value="" disabled>Question Type</option>
                            <option value="multiple" selected>Multiple Type</option>
                            <option value="userdefined">User defined</option>
                        </select>
                    </div>                    
                  </div>
            </div>

            <div class="bottom-section space">
                <div class="heading">
                    <h1>Options</h1>
                </div>
                <div class="input-group space" id="option-gen">
                    <div class="choices">
                        <div class="form-group">
                            <input type="text" placeholder="Option 1" class="form-control option">
                        </div>
                        <div class="form-group">
                            <input type="text" placeholder="Option 2" class="form-control option">
                        </div>
                        <div class="form-group">
                            <input type="text" placeholder="Option 3" class="form-control option">
                        </div>
                        
                    </div>
                    <div class="input-group-append btn-outline-success parent">
                        <button class="btn btn-outline-success add-btn">+</button>
                        <br /><button class="btn btn-outline-danger remove-btn">-</button>
                        
                        <select class="form-control optiontype" name="optiontype" id="optiontype">
                            <option value="" disabled selected>Option Type</option>
                            <option value="A">A, B, C, ...</option>
                            <option value="a">a, b, c, ...</option>
                            <option value="1">1, 2, 3, ...</option>
                            <option value="i">i, ii, iii, ...</option>
                            <option value="...">..., ...</option>
                        </select>
                    </div>
                    
                    <div class="checkbox-container">
                        <input type="checkbox" class="form-check-input checkbox">
                        <label class="form-check-label">Randomize Options</label>
                    </div>
                
                  </div>
                
                <div class="option-type">
                    
                </div>
            </div>
    </section>
</div>
{% endblock %}
