{% extends 'layout.html' %}
{% block script %}
  <script src="{{ url_for('static', filename = 'scripts/dashboard.js') }}"></script>
  <link rel="stylesheet" href="{{ url_for('static', filename = 'styles/Dashboard.css') }}" />
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <script src="./script/script.js"></script>
{% endblock %}

{% block content %}
  <!-- main -->
  <div id="mySidenav" class="sidenav">
    <a class="closebtn" id="closeNav"><i class="fa-solid fa-chevron-left"></i></a>
    <section id="dashboard-info" name="{{ data['survey_id'] }}">
      <div class="table-row" id="{{ current_user.id }}">
        <div class="survey col-md-12 mx-auto px-1 mb-5 pt-3">
          <h2 class="text-center mb-6">Survey Details</h2>
          <div class="form-group">
            <div class="table-row">
              <div class="table-column">Title</div>
              <div class="table-data">{{ data['title'] }}</div>
            </div>
            <div class="table-row">
              <div class="table-column">Description</div>
              <div class="table-data">
                <p>{{ data['description'] }}</p>
              </div>
            </div>
            <div class="table-row">
              <div class="table-column">Author</div>
              <div class="table-data">{{ user_data['first_name'] }} {{ user_data['last_name'] }}</div>
            </div>
          </div>
          <div id="toggle-buttons" class="text-center my-5 mx-auto">
            <button id="toggle-view" class="btn btn-success btn-3d">View Pie Chart</button>
          </div>
        </div>
      </div>
    </section>
  </div>

  <div id="main">
    <span style="font-size:30px; cursor:pointer" id="openNav" class="sticky"><i id="arrow" class="fa-solid fa-chevron-right fa-sm"></i><i id="long" class="fa-solid fa-ellipsis-vertical fa-sm"></i></span>
    <form id="response-container" action="">
      <div class="questions">
        {% set i = 0 %}
        {% for q in response %}
          {% set i = i + 1 %}
          <div class="question">
            <div class="question-header">
              <h5>{{ loop.index }}</h5>
              <p>{{ q['question'] }}</p>
            </div>
            <div class="options-container" style="width: 100%;">
              <canvas id="chart_{{ loop.index }}" class="w-100 ch"></canvas>
              <canvas id="histogram-{{ loop.index }}" class="w-100 ch" style="display: none;"></canvas>
            </div>
          </div>
        {% endfor %}
      </div>
    </form>
  </div>
  <script>
    $(document).ready(function() {
      {% for q in response %}
      var ctx = document.getElementById('histogram-{{ loop.index }}').getContext('2d');
      var myChart = new Chart(ctx, {
        type: 'bar',
        data: {
          labels: [{% for opt in q['options'] %}"{{ opt['option'] }}", {% endfor %}],
          datasets: [{
            label: '% of responses',
            data: [{% for opt in q['options'] %}{{ opt['%'] }}, {% endfor %}],
            backgroundColor: 'rgba(54, 162, 235, 0.2)',
            borderColor: 'rgba(54, 162, 235, 1)',
            borderWidth: 1
          }]
        },
        options: {
          scales: {
            y: {
              beginAtZero: true
            }
          }
        }
      });
      {% endfor %}

      {% for q in response %}
      var ctx_{{ loop.index }} = document.getElementById('chart_{{ loop.index }}').getContext('2d');
      var chart_{{ loop.index }} = new Chart(ctx_{{ loop.index }}, {
        type: 'pie',
        data: {
          labels: [{% for opt in q['options'] %}"{{ opt['option'] }}",{% endfor %}],
          datasets: [{
            label: '{{ q["question"] }}',
            data: [{% for opt in q['options'] %}{{ opt['%'] }},{% endfor %}],
            backgroundColor: [
              'rgba(255, 99, 132, 0.5)',
              'rgba(54, 162, 235, 0.5)',
              'rgba(255, 206, 86, 0.5)',
              'rgba(75, 192, 192, 0.5)',
              'rgba(153, 102, 255, 0.5)',
            ],
            borderColor: [
              'rgba(255, 99, 132, 1)',
              'rgba(54, 162, 235, 1)',
              'rgba(255, 206, 86, 1)',
              'rgba(75, 192, 192, 1)',
              'rgba(153, 102, 255, 1)',
            ],
            borderWidth: 1
          }]
        },
        options: {
          responsive: true,
          maintainAspectRatio: false,
        }
      });
    {% endfor %}

    });
  </script>
{% endblock %}
