{% extends 'layout.html' %}
{% block script %}
  <link rel="stylesheet" href="styles.css" />
  <link rel="stylesheet" href="{{ url_for('static', filename = 'styles/Dashboard.css') }}" />
  <script src="https://kit.fontawesome.com/6d617ef3fb.js" crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
  <script src="./script/script.js"></script>
  <script src="./script/Dashboard.js"></script>
{% endblock %}

{% block content %}
  <main id="dashboard">
    <div class="section-container">
      <section id="dashboard-info">
        <div class="Dashboard">
          <div class="table-row">
            <div class="table-column">Title</div>
            <div class="table-data">Home coming</div>
          </div>
          <div class="table-row">
            <div class="table-column">Description</div>
            <div class="table-data">
              <p>A general survey is a research method used to collect data from a sample population to gain insights into various aspects such as opinions, preferences, behaviors, or demographics. It typically involves asking a series of structured questions to respondents, either through interviews, questionnaires, or online forms.</p>
            </div>
          </div>
          <div class="table-row">
            <div class="table-column">Created</div>
            <div class="table-data">12th, October 2026</div>
          </div>
          <div class="table-row">
            <div class="table-column">Number of Respond</div>
            <div class="table-data">2000</div>
          </div>
          <div class="table-row">
            <div class="table-column">Feedback</div>
            <div class="table-data">
              <textarea name="feedback" rows="2"></textarea>
            </div>
          </div>
          <button class="btn btn-3d btn-outline-success PDF-button">PDF</button>
          <button class="btn btn-3d btn-success Excel-button">Excel</button>
        </div>
      </section>
      <button class="btn btn-3d btn-outline-success" id="collapseButton"><i class="fa-solid fa-chevron-left"></i></button>

    </div>
    <section id="dashboard-result" class="full-width">
      <div class="Response-Collection-Form">
        <form id="response-form">
          {% for entry in data %}
            <div class="question">
              <label>{{ entry.question }}</label>
              <div id="prog">
                <!-- Progress bars for options A, B, C, and D -->
                <div class="progress">
                  <div class="progress-bar bg-success" role="progressbar" style="width: {{ entry.a }}%;" aria-valuenow="{{ entry.a }}" aria-valuemin="0" aria-valuemax="100">
                    <strong><em>Option A</em></strong>
                  </div>
                </div>
                <div class="progress">
                  <div class="progress-bar bg-success" role="progressbar" style="width: {{ entry.b }}%;" aria-valuenow="{{ entry.b }}" aria-valuemin="0" aria-valuemax="100">
                    <strong><em>Option B</em></strong>
                  </div>
                </div>
                <div class="progress">
                  <div class="progress-bar bg-success" role="progressbar" style="width: {{ entry.c }}%;" aria-valuenow="{{ entry.c }}" aria-valuemin="0" aria-valuemax="100">
                    <strong><em>Option C</em></strong>
                  </div>
                </div>
                <div class="progress">
                  <div class="progress-bar bg-success" role="progressbar" style="width: {{ entry.d }}%;" aria-valuenow="{{ entry.d }}" aria-valuemin="0" aria-valuemax="100">
                    <strong><em>Option D</em></strong>
                  </div>
                </div>
              </div>
            </div>
          {% endfor %}
        </form>
      </div>
    </section>
  </main>
{% endblock %}
