{% extends 'layout.html' %}
{% block script %}
<!-- <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'styles/create.css') }}" />
-->
<script src="{{ url_for('static', filename = 'scripts/login.js') }}"></script>
{% endblock %}
{% block content %}
  <div class="content-section in">
    <form method="POST" action="">
      {{ form.hidden_tag() }}
      <fieldset class="form-group">
        <legend class="border-bottom mb-4 text-center">Join Today</legend>
        <div class="form-group">
          {{ form.first_name.label(class = 'form-control-label') }}
          <br />
          {% if form.first_name.errors %}
            {{ form.first_name(class = 'form-control-lg is-invalid') }}
            <div class="invalid-feedback">
              {% for error in form.first_name.errors %}
                <br /><span>{{ error }}</span>
              {% endfor %}
            </div>
          {% else %}
            {{ form.first_name(class = 'form-control form-control-lg', autofocus = True, autocomplete = 'off', placeholder = 'Henry') }}
          {% endif %}
        </div>
        <div class="form-group">
          {{ form.last_name.label(class = 'form-control-label') }}
          <br />
          {% if form.last_name.errors %}
            {{ form.last_name(class = 'form-control-lg is-invalid') }}
            <div class="invalid-feedback">
              {% for error in form.last_name.errors %}
                <span>{{ error }}</span>
              {% endfor %}
            </div>
          {% else %}
            {{ form.last_name(class = 'form-control form-control-lg', placeholder = 'White') }}
          {% endif %}
        </div>
        <div class="form-group">
          {{ form.email.label(class = 'form-control-label') }}
          <br />
          {% if form.email.errors %}
            {{ form.email(class = 'form-control-lg is-invalid') }}
            <div class="invalid-feedback">
              {% for error in form.email.errors %}
                <span>{{ error }}</span>
              {% endfor %}
            </div>
          {% else %}
            {{ form.email(class = 'form-control form-control-lg', placeholder = 'abc@example.com') }}
          {% endif %}
        </div>
        <div class="form-group">
          {{ form.password.label(class = 'form-control-label') }}
          <br />
          {% if form.password.errors %}
            {{ form.password(class = 'form-control-lg is-invalid') }}
            <div class="invalid-feedback">
              {% for error in form.password.errors %}
                <span>{{ error }}</span>
              {% endfor %}
            </div>
          {% else %}
            <div class="input-group">
              {{ form.password(class = 'form-control form-control-lg', placeholder = '8 characters (0-9) (A-Z) (a-z) (!@#$%^&*()\-_=+{};:,<.>)') }}
              <div class="input-group-append parent">
                <span id="toggle-login-password" class="input-group-text glow-border btn-3d"><i class="fas fa-eye" id="now"></i></span>
              </div>
            </div>
          {% endif %}
        </div>
        <div class="form-group">
          {{ form.confirm_password.label(class = 'form-control-label') }}
          <br />
          {% if form.confirm_password.errors %}
            {{ form.confirm_password(class = 'form-control-lg is-invalid') }}
            <div class="invalid-feedback">
              {% for error in form.confirm_password.errors %}
                <div class="form-group">
                  <span>{{ error }}</span>
                </div>
              {% endfor %}
            </div>
          {% else %}
            <div class="input-group">
              {{ form.confirm_password(class = 'form-control form-control-lg', placeholder = '8 characters (0-9) (A-Z) (a-z) (!@#$%^&*()\-_=+{};:,<.>)') }}
              <div class="input-group-append parent btn-3d">
                <span id="toggle-login-confirm_password" class="input-group-text glow-border"><i class="fas fa-eye" id="confirm_now"></i></span>
              </div>
            </div>
          {% endif %}
        </div>
      </fieldset>
      <div class="pt-1 pb-1">
        <div class="form-group space btn-3d" style="display: inline-block;">{{ form.submit(class = 'btn btn-success') }}</div>
        <div class="form-group space btn-3d" style="display: inline-block; float: right;">
          <small class="text-muted btn-3d">Already Have An Account? <a class="ml-2 btn btn-outline-success" href="{{ url_for('login') }}">Login</a></small>
        </div>
      </div>
    </form>
  </div>
{% endblock %}
