{% extends 'layout.html' %}
{% block script %}
  <script src="{{ url_for('static', filename = 'scripts/login.js') }}"></script>
  <script src="{{ url_for('static', filename = 'scripts/auth.js') }}"></script>
  <link rel="stylesheet" href="{{ url_for('static', filename = 'styles/auth.css') }}" />
{% endblock %}

{% block content %}
  <div class="login-container">
    <div class="login-form">
    <form method="POST" action="">
      {{ form.hidden_tag() }}
      <fieldset class="form-group">
        <legend class="border-bottom mb-4 text-center">Request Password Reset</legend>
        <div class="form-group">
          {{ form.email.label(class = 'form-control-label') }}
          <br />
          {% if form.email.errors %}
            {{ form.email(class = 'form-control-lg is-invalid') }}
            <div class="invalid-feedback">
              {% for error in form.email.errors %}
                <span>{{ error }}</span>
              {% endfor %}
            </div>
          {% else %}
            {{ form.email(class = 'form-control form-control-lg', autofocus = True, placeholder = 'abc@example.com') }}
          {% endif %}
        </div>
        </fieldset>
        <div class="pt-1 pb-1 mx-auto">
            <div class="form-group space btn-3d" style="display: inline-block;">{{ form.submit(class = 'btn btn-success') }}</div>
        </div>
    </form>
  </div>
{% endblock %}
