{% extends 'layout.html' %}
{% block script %}
  <script src="{{ url_for('static', filename = 'scripts/response.js') }}"></script>
  <link rel="stylesheet" href="{{ url_for('static', filename = 'styles/response.css') }}" />
  <script src="./script/script.js"></script>
  <script>
    $(document).ready(function () {
      $(document).on('contextmenu', function (event) {
        event.preventDefault()
      })
    })
  </script>
{% endblock %}

{% block content %}
  <div id="popup" class="modal glow-border">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content bg-success-subtle">
        <div class="modal-header">
          <h5 class="modal-title">Enter Your Information</h5>
        </div>
        <div class="modal-body">
          <form>
            <div class="form-group">
              <label for="full-name">Full Name</label>
              <input type="text" class="form-control" autofocus id="full-name" placeholder="Enter your full name" />
            </div>
            <div class="form-group">
              <label for="sex">Sex</label>
              <select class="form-control" id="sex">
                <option value="None" selected>None selected</option>
                <option value="male">Male</option>
                <option value="female">Female</option>
                <option value="trans-Gender">Trans-Gender</option>
                <option value="Prefer not to say">Prefer not to say</option>
              </select>
            </div>
            <br />
            <div id="error-message" style="color: red"></div>
          </form>
        </div>
        <div class="modal-footer">
          <button id="bioSubmit" type="button" class="btn btn-outline-success btn-3d glow-border">Submit</button>
        </div>
      </div>
    </div>
  </div>

  <!-- main -->
  <div id="mySidenav" class="sidenav">
  <progress id="progressBar" class="progress-bar-container" value="0" max="{{ data['questions']|length }}"></progress>
    <a class="closebtn" id="closeNav"><i class="fa-solid fa-chevron-left"></i></a>
    <section id="dashboard-info" name="{{ data['survey_id'] }}">
      <div class="table-row" id="{{ current_user.id }}">
        <div class="survey col-md-12 mx-auto px-1 mb-5 pt-3">
          <h2 class="text-center mb-6">Survey Details</h2>
          <div class="form-group">
            <div class="table-row">
              <div class="table-column">Title</div>
              <div class="table-data">{{ data['title'] }}</div>
            </div>
            <div class="table-row">
              <div class="table-column">Description</div>
              <div class="table-data">
                <p>{{ data['description'] }}</p>
              </div>
            </div>
            <div class="table-row">
              <div class="table-column">Author</div>
              <div class="table-data">{{ user_data['first_name'] }} {{ user_data['last_name'] }}</div>
            </div>
            <div class="table-row">
              <div class="table-column">Respondent Name</div>
              <div class="table-data" id="responder"></div>
            </div>
            <div class="text-center">
              <button id="commit" class="btn btn-success btn-3d mb-5"><i class="fa-regular fa-floppy-disk fa-xl"></i>&nbsp;&nbsp;&nbsp;Commit Response</button>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>

  <div id="main">
    <span style="font-size:30px; cursor:pointer" id="openNav" class="sticky"><i id="arrow" class="fa-solid fa-chevron-right fa-sm"></i><i id="long" class="fa-solid fa-ellipsis-vertical fa-sm"></i></span>
    <form id="response-container" action="">
      <div class="questions">
        {% set i = 0 %}
        {% for q in data['questions'] %}
          {% set i = i + 1 %}
          <div class="question" id="{{ q['id'] }}">
            <div class="question-header">
              <h5>{{ loop.index }}</h5>
              <p>{{ q['question'] }}</p>
            </div>
            <div class="options-container">
              {% set maxOptionWidth = 0 %}
              {% for opt in q['options'] %}
                <div class="options" name="{{ opt }}">
                  <div class="form-group row">
                    <div class="col-auto">
                      <input type="checkbox" id="{{ q['id'] + opt }}" name="{{ opt }}" class="custom-checkbox" />
                    </div>
                    <div class="col">
                      <label for="{{ q['id'] + opt }}"><span>{{ opt }}</span></label>
                    </div>
                  </div>
                </div>
                <script>
                  $(document).ready(function () {
                    // Get the width of the widest label in this question block
                    var maxWidth = 0
                    $(".question#{{ q['id'] }} .options").each(function () {
                      var labelWidth = $(this).find('.form-group .col label').width()
                      if (labelWidth > maxWidth) {
                        maxWidth = labelWidth
                      }
                    })

                    // Set the width of all labels in this question block to the widest width
                    if (maxWidth > 500) {
                      maxWidth = 500
                      $(".question#{{ q['id'] }} .options .form-group .col label").css('width', maxWidth)
                    } else {
                      $(".question#{{ q['id'] }} .options .form-group .col label").css('width', maxWidth)
                    }
                  })
                </script>
              {% endfor %}
            </div>
          </div>
        {% endfor %}
      </div>
    </form>
    <button id="commit1" class="btn btn-success btn-3d"><i class="fa-regular fa-floppy-disk fa-xl"></i>&nbsp;&nbsp;&nbsp;Commit Response</button>
  </div>
{% endblock %}
