{% extends 'layout.html' %}
{% block script %}
  <link rel="stylesheet" href="{{ url_for('static', filename = 'styles/response.css') }}" />
  <script src="./script/script.js"></script>
  <script src="./script/Dashboard.js"></script>
  <script>
    $(document).ready(function () {
      $(document).on('contextmenu', function (event) {
        event.preventDefault()
      })
    })
  </script>
{% endblock %}

{% block content %}
  <main id="dashboard">
    <progress id="progressBar" class="progress-bar-container" value="0" max="{{ data['questions']|length }}"></progress>
    <div id="popup" class="modal glow-border">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content bg-success-subtle">
          <div class="modal-header">
            <h5 class="modal-title">Enter Your Information</h5>
          </div>
          <div class="modal-body">
            <form>
              <div class="form-group">
                <label for="full-name">Full Name</label>
                <input type="text" class="form-control" autofocus id="full-name" placeholder="Enter your full name" />
              </div>
              <div class="form-group">
                <label for="sex">Sex</label>
                <select class="form-control" id="sex">
                  <option value="None" selected>None selected</option>
                  <option value="male">Male</option>
                  <option value="female">Female</option>
                  <option value="Prefer not to say">Prefer not to say</option>
                </select>
              </div>
              <br />
              <div id="error-message" style="color: red"></div>
            </form>
          </div>
          <div class="modal-footer">
            <button id="bioSubmit" type="button" class="btn btn-outline-success btn-3d glow-border">Submit</button>
          </div>
        </div>
      </div>
    </div>

    <section id="dashboard-info">
      <div class="table-row">
        <div class="table-column">Title</div>
        <div class="table-data">{{ data['title'] }}</div>
      </div>
      <div class="table-row">
        <div class="table-column">Description</div>
        <div class="table-data">
          <p>{{ data['description'] }}</p>
        </div>
      </div>
      <div class="table-row">
        <div class="table-column">Author</div>
        <div class="table-data">{{ user_data['first_name'] }} {{ user_data['last_name'] }}</div>
      </div>
      <div class="table-row">
        <div class="table-column">Respondent Name</div>
        <div class="table-data" id="responder"></div>
      </div>
      <button id="commit" class="btn btn-success glow-border btn-3d mb-5">Commit Response</button>
      <br class="mb-5">
      <br class="mb-5">
    </section>
    <!-- <button class="btn btn-3d btn-outline-success" id="collapseButton"><i class="fa-solid fa-chevron-left"></i></button> -->
    <section id="dashboard-result" class="full-width">
      <div class="Response-Collection-Form">
        <form id="response-form">
          <div class="questions">
            {% for q in data['questions'] %}
              <div class="question" id="{{ q['id'] }}">
                <p>{{ q['question'] }}</p>
                {% for opt in q['options'] %}
                  <div class="options" name="{{ opt }}">
                    <div>
                      <input type="checkbox" id="{{ q['id'] + opt}}" name="{{ opt }}" />
                      <label for="option1-1">{{ opt }}</label>
                    </div>
                  </div>
                {% endfor %}
              </div>
            {% endfor %}
          </div>
        </form>
      </div>
      <button id="commit1" class="btn btn-success glow-border btn-3d">Commit Response</button>
    </section>
  </main>
{% endblock %}
