{%- extends 'layout.html' -%}
{%- block script -%}
  <link rel="stylesheet" href="{{ url_for('static', filename = 'styles/usersurveys.css') }}" />
  <script src="{{ url_for('static', filename = 'scripts/usersurveys.js') }}"></script>
{%- endblock -%}

{%- block content -%}
  <div id="mySidenav" class="sidenav">
    <a class="closebtn" id="closeNav"><i class="fa-solid fa-chevron-left"></i></a>
    <div class="tab px-2">
      <div class="table-row">
        <div class="table-column">Surveys</div>
        {%- if surveys -%}
          {%- for survey in surveys -%}
            <a class="link-click link n-link table-data tablinks d-flex align-items-center" id="{{ survey.id }}">
              <span id="link-click" class="survey-title m-0 flex-grow-1 w-100">{{ survey.title }}</span>
              <button class="copy-button btn btn-outline-success ml-2"><i class="fa-solid fa-link"></i></button>
            </a>
          {%- endfor -%}
        {%- else -%}
          <div class="d-flex align-items-center justify-content-center pt-5">
            <p class="py-5">No surveys available</p>
          </div>
        {%- endif -%}
      </div>
    </div>
  </div>

  <div id="main">
    <span style="font-size:30px; cursor:pointer" id="openNav" class="sticky"><i class="fa-solid fa-chevron-right fa-sm"></i></span>
    <div id="loader" class="spinner-box">
      <div class="circle-border">
        <div class="circle-core"></div>
      </div>
    </div>
    <section id="dashboard-result" class="mx-2 pb-5 pt-2">
      {%- if surveys -%}
        <div class="table-responsive mx-5">
          <div class="d-flex justify-content-between align-items-center mb-1 pt-3">
            <div class="checkbox-wrapper-35 my-2">
              <input class="switch" type="checkbox" id="randomize-questions" name="switch" value="private" />
              <label for="randomize-questions">
                <span class="switch-x-text">Randomize Questions</span>
                <span class="switch-x-toggletext">
                  <span class="switch-x-unchecked">
                    <span class="switch-x-hiddenlabel">Unchecked:</span>
                    Off
                  </span>
                  <span class="switch-x-checked">
                    <span class="switch-x-hiddenlabel">Checked:</span>
                    On
                  </span>
                </span>
              </label>
            </div>
            <button type="button" id="delete-survey" class="btn btn-3d btn-outline-danger p-20 text-center m-0"><i class="fa-solid fa-trash-can"></i>&nbsp;&nbsp;&Tab; Delete Survey</button>
            <button type="button" id="edit-survey" class="btn btn-3d btn-outline-success p-20 text-center m-0"><i class="fa-regular fa-pen-to-square"></i>&nbsp;&nbsp;&Tab; Edit Survey</button>
            <div class="checkbox-wrapper-35 my-4">
              <input class="switch" type="checkbox" id="visibility" name="switch" value="private" />
              <label for="visibility">
                <span class="switch-x-text">visibility</span>
                <span class="switch-x-toggletext">
                  <span class="switch-x-unchecked">
                    <span class="switch-x-hiddenlabel">Unchecked:</span>
                    Off
                  </span>
                  <span class="switch-x-checked">
                    <span class="switch-x-hiddenlabel">Checked:</span>
                    On
                  </span>
                </span>
              </label>
            </div>
          </div>

          <table class="table table-striped table-bordered">
            <thead class="text-center">
              <tr class="text-center">
                <th class="text-center">Title</th>
                <th class="text-center">Creation</th>
                <th class="text-center">Response</th>
                <th class="text-center">Expiration</th>
              </tr>
            </thead>
            <tbody class="text-center">
              <tr>
                <td id="title"></td>
                <td id="created_at"></td>
                <td>23456</td>
                <td id="expiration">23-12-2004</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div id="populate" class="">
          <div class="row box"></div>
        </div>
      {%- else -%}
        <div class="d-flex align-items-center justify-content-center pt-5">
          <div class="row">
            <div class="col text center">
              <p class="py-1 mt-2" style="font-size: 40px;">No surveys available</p>
              <p class="py-1" style="font-size: 25px;">
                <em>Create One Now</em>
              </p>
              <button id="no-create_survey" type="button" class="btn btn-success btn-3d p-3" href="{{ url_for('create_survey') }}"><i class="fa-solid fa-square-plus fa-xl"></i>&nbsp;&nbsp;Create Survey</button>
            </div>
          </div>
        </div>
      {%- endif -%}
    </section>
  </div>
{%- endblock -%}
