.table-row {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    width: 100%;
    margin-bottom: 80px;
}

.table-column {
    border: 1px solid #0000003a;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.068);
    width: 100%;
    text-align: center;
    font-size: 25px;
}

.table-data {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #0000002c;
    padding: 10px;
    width: 100%;
}

.table-data button::before {
    content: "Copied";
    position: absolute;
    top: -45px;
    right: 0;
    border-radius: 20px;
    display: none;
}


.table-data button::after {
    content: "";
    position: absolute;
    top: -20px;
    right: 25px;
    width: 10px;
    height: 10px;
    background: #198754;
    transform: rotate(45deg);
    display: none;
}

.table-data button::before,
.table-data button::after {
    display: block;
}


.survey-title {
    font-style: italic;
    color: #5e5e5e;
    flex: 1;
    /* Allow title to grow and shrink */
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    /* Display ellipsis for overflow text */
    cursor: pointer;
    /* Show pointer cursor on hover */
}

.survey-title:hover {
    color: #000e05;
}

.copy-button {
    padding: 5px 10px;
    margin: 0 2px;
    border-radius: 10px;
}

.copy-success-overlay {
    position: absolute;
    /* Overlay on top of the button */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 128, 0, 0.5);
    /* Semi-transparent green */
    opacity: 0;
    /* Initially hidden */
    transition: opacity 0.5s ease;
    /* Smooth fade effect */
    display: none;
    /* Hidden by default */
}

.table-data textarea {
    width: 100%;
    height: 100%;
    border: none;
    resize: none;
    outline: none;
    overflow: auto;
}


/* ------------------------------------------------------------------ */

body {
    font-family: "Lato", sans-serif;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    left: 0;
    background-color: #fafafa;
    overflow-x: hidden;
    overflow-y: auto;
    transition: 0.5s;
    padding: 60px 0 30px;
    border-right: 1px solid #e7e7e7;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    margin-left: 50px;
}

#main {
    transition: margin-left .5s;
    padding: 16px;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 18px;
    }
}

.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 50%;
    transform: translateY(-50%);
    background-color: #fafafa;
    padding: 10px 0;
    border-bottom: 1px solid #e7e7e7;
}

.sticky a:hover {
    color: #f1f1f1;
}

#openNav {
    border: none;
    right: 0;
}

#mySidenav {
    z-index: 100;
}


.table-bordered {
    border: 1px solid #19191a;
}


.table-bordered th,
.table-bordered td {
    border: 1px solid #030303;
}

.question-block {
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 10px;
    background-color: #fdfdfd;
    max-width: 360px;
    min-width: 300px;
}

.bottom-section {
    position: absolute;
    top: 35%;
    /* Position below the question */
    left: 0;
    right: 0;
    background-color: rgb(241, 241, 241);
    z-index: 1000;
    display: none;
    overflow-y: none;
    border: 1px solid #000e05;
    border-radius: 10px;
    box-shadow: 0 0 10px #097934a6;
}

/* Large Desktops (1200px and above) */
/* @media only screen and (min-width: 1200px) {
    .box {
        padding-left: 160px;
    }
} */

@media only screen and (min-width: 992px) {
    .box {
        padding-left: 5%;
        /* Increase padding on larger screens */
    }
}

/* Tablets and smaller desktops (Between 992px and 1199px) */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .box {
        padding-left: 170px;
    }
}

/* Slightly smaller tablets and some phones (Between 600px and 991px) */
@media only screen and (min-width: 600px) and (max-width: 991px) {
    .box {
        padding-left: 0px;
    }
}

/* Smartphones and smaller tablets (Between 768px and 599px) */
@media only screen and (min-width: 768px) and (max-width: 599px) {
    .box {
        padding-left: 70px;
    }
}

/* Very small screens  (Below 767px) */
@media only screen and (max-width: 767px) {
    .box {
        padding-left: 0;
    }
}

.link {
    background-color: #fdfdfd;
}

.link:hover {
    background-color: #eeeded;
    color: #000e05;
}

.link:active {
    background-color: #009c5b;
    /* Change to your desired click color */
    color: #fff;
    /* Change to your desired text color */
}


.active {
    background-color: #009c5b88;
    color: #000e05;
}

/* ******************** switch ********************** */

.checkbox-wrapper-34 {
    --blue: #009c5b;
    --g08: #E1E5EB;
    --g04: #848ea1;
}

.checkbox-wrapper-34 .tgl {
    display: none;
}

.checkbox-wrapper-34 .tgl,
.checkbox-wrapper-34 .tgl:after,
.checkbox-wrapper-34 .tgl:before,
.checkbox-wrapper-34 .tgl *,
.checkbox-wrapper-34 .tgl *:after,
.checkbox-wrapper-34 .tgl *:before,
.checkbox-wrapper-34 .tgl+.tgl-btn {
    box-sizing: border-box;
}

.checkbox-wrapper-34 .tgl::selection,
.checkbox-wrapper-34 .tgl:after::selection,
.checkbox-wrapper-34 .tgl:before::selection,
.checkbox-wrapper-34 .tgl *::selection,
.checkbox-wrapper-34 .tgl *:after::selection,
.checkbox-wrapper-34 .tgl *:before::selection,
.checkbox-wrapper-34 .tgl+.tgl-btn::selection {
    background: none;
}

.checkbox-wrapper-34 .tgl+.tgl-btn {
    outline: 0;
    display: block;
    width: 57px;
    height: 27px;
    position: relative;
    cursor: pointer;
    user-select: none;
    font-size: 12px;
    font-weight: 400;
    color: #fff;
}

.checkbox-wrapper-34 .tgl+.tgl-btn:after,
.checkbox-wrapper-34 .tgl+.tgl-btn:before {
    position: relative;
    display: block;
    content: "";
    width: 44%;
    height: 100%;
}

.checkbox-wrapper-34 .tgl+.tgl-btn:after {
    left: 0;
}

.checkbox-wrapper-34 .tgl+.tgl-btn:before {
    display: inline;
    position: absolute;
    top: 7px;
}

.checkbox-wrapper-34 .tgl:checked+.tgl-btn:after {
    left: 56.5%;
}

.checkbox-wrapper-34 .tgl-ios+.tgl-btn {
    background: var(--g08);
    border-radius: 20rem;
    padding: 2px;
    transition: all 0.4s ease;
    box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1);
}

.checkbox-wrapper-34 .tgl-ios+.tgl-btn:after {
    border-radius: 2em;
    background: #fff;
    transition: left 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275), padding 0.3s ease, margin 0.3s ease;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
}

.checkbox-wrapper-34 .tgl-ios+.tgl-btn:before {
    content: "No";
    left: 28px;
    color: var(--g04);
    transition: left 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.checkbox-wrapper-34 .tgl-ios+.tgl-btn:active {
    box-shadow: inset 0 0 0 30px rgba(0, 0, 0, 0.1);
}

.checkbox-wrapper-34 .tgl-ios+.tgl-btn:active:after {
    padding-right: 0.4em;
}

.checkbox-wrapper-34 .tgl-ios:checked+.tgl-btn {
    background: var(--blue);
}

.checkbox-wrapper-34 .tgl-ios:checked+.tgl-btn:active {
    box-shadow: inset 0 0 0 30px rgba(0, 0, 0, 0.1);
}

.checkbox-wrapper-34 .tgl-ios:checked+.tgl-btn:active:after {
    margin-left: -0.4em;
}

.checkbox-wrapper-34 .tgl-ios:checked+.tgl-btn:before {
    content: "Yes";
    left: 4px;
    color: #fff;
}

/* ************************ loading ***************************** */
